.description-box {
  border-top-color: #ececec;
  border-bottom-color: #ececec;
  border-top-style: solid;
  border-bottom-style: solid;
  height: fit-content;
  padding-top: 24px;
  padding-bottom: 24px;
  border-width: 2px;
}
