.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #0d0d13;
  background-image: linear-gradient(35deg, #0d0d13 0%, #58d0ea 46%, #f65ae2 100%);
}
